@font-face {
    font-family: trasandina-light;
    src: url("./../assets/fonts/TrasandinaLight.otf") format("opentype");
  }

  @font-face {
    font-family: trasandina-regular;
    src: url("./../assets/fonts/TrasandinaRegular.otf") format("opentype");
  }