CREATE DATABASE [BD_TAWA]
GO
USE [BD_TAWA]
GO
/****** Object:  Table [dbo].[H001_Departamento]    Script Date: 29/09/2021 6:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[H001_Departamento](
	[CodDepartamento] [char](2) NOT NULL,
	[Departamento] [varchar](50) NULL,
	[CodUsuCreaRegistro] [varchar](30) NULL,
	[FechaCreaRegistro] [datetime] NULL,
	[CodUsuModificaRegistro] [varchar](30) NULL,
	[FechaModificaRegistro] [datetime] NULL,
	[EstadoRegistro] [bit] NULL,
 CONSTRAINT [PK_HIS_Departamento] PRIMARY KEY CLUSTERED 
(
	[CodDepartamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[H001_Persona]    Script Date: 29/09/2021 6:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[H001_Persona](
	[CodPersona] [varchar](30) NOT NULL,
	[IdTipoDocumento] [int] NULL,
	[NumDocIdentidad] [char](20) NULL,
	[Nombre] [varchar](50) NULL,
	[ApellidoPaterno] [varchar](30) NULL,
	[ApellidoMaterno] [varchar](30) NULL,
	[Sexo] [char](1) NULL,
	[FechaNacimiento] [date] NULL,
	[IdPertenenciaEtnica] [int] NULL,
	[IdPaisNacimiento] [int] NULL,
	[CodUbigeoNacimiento] [char](6) NULL,
	[Foto] [varchar](100) NULL,
	[IdGradoInstruccion] [int] NULL,
	[IdReligion] [int] NULL,
	[CentroEducativo] [varchar](50) NULL,
	[IdEstadoCivil] [int] NULL,
	[IdOcupacion] [int] NULL,
	[TelefonoFijo] [char](15) NULL,
	[TelefonoMovil] [char](15) NULL,
	[Correo] [varchar](50) NULL,
	[IdTipoPersona] [int] NULL,
	[TratamientoDato] [bit] NULL,
	[TerminoCondicion] [bit] NULL,
	[CodUsuario] [varchar](30) NULL,
	[CodUsuCreaRegistro] [varchar](30) NULL,
	[FechaCreaRegistro] [datetime] NOT NULL,
	[CodUsuModificaRegistro] [varchar](30) NULL,
	[FechaModificaRegistro] [datetime] NULL,
	[EstadoRegistro] [bit] NULL,
 CONSTRAINT [PK_HIS_Persona_1] PRIMARY KEY CLUSTERED 
(
	[CodPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[H001_Provincia]    Script Date: 29/09/2021 6:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[H001_Provincia](
	[CodDepartamento] [char](2) NOT NULL,
	[CodProvincia] [char](2) NOT NULL,
	[Provincia] [varchar](50) NULL,
	[CodUsuCreaRegistro] [varchar](30) NULL,
	[FechaCreaRegistro] [datetime] NULL,
	[CodUsuModificaRegistro] [varchar](30) NULL,
	[FechaModificaRegistro] [datetime] NULL,
	[EstadoRegistro] [bit] NULL,
 CONSTRAINT [PK_HIS_Provincia] PRIMARY KEY CLUSTERED 
(
	[CodDepartamento] ASC,
	[CodProvincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[H001_TipoDocumento]    Script Date: 29/09/2021 6:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[H001_TipoDocumento](
	[IdTipoDocumento] [int] IDENTITY(1,1) NOT NULL,
	[TipoDocumento] [varchar](100) NULL,
	[Abreviatura] [varchar](10) NULL,
	[MaxNumDigito] [int] NULL,
	[CodUsuCreaRegistro] [varchar](30) NULL,
	[FechaCreaRegistro] [datetime] NULL,
	[CodUsuModificaRegistro] [varchar](30) NULL,
	[FechaModificaRegistro] [datetime] NULL,
	[EstadoRegistro] [bit] NULL,
 CONSTRAINT [PK_HIS_Tipo_Documento] PRIMARY KEY CLUSTERED 
(
	[IdTipoDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[H001_Ubigeo]    Script Date: 29/09/2021 6:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[H001_Ubigeo](
	[CodUbigeo] [char](6) NOT NULL,
	[CodDepartamento] [char](2) NULL,
	[CodProvincia] [char](2) NULL,
	[Distrito] [varchar](50) NULL,
	[CodUsuCreaRegistro] [varchar](30) NULL,
	[FechaCreaRegistro] [datetime] NULL,
	[CodUsuModificaRegistro] [varchar](30) NULL,
	[FechaModificaRegistro] [datetime] NULL,
	[EstadoRegistro] [bit] NULL,
 CONSTRAINT [PK_HIS_Ubigeo] PRIMARY KEY CLUSTERED 
(
	[CodUbigeo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[H001_Departamento] ([CodDepartamento], [Departamento], [CodUsuCreaRegistro], [FechaCreaRegistro], [CodUsuModificaRegistro], [FechaModificaRegistro], [EstadoRegistro]) VALUES (N'01', N'Amazonas', N'admin', CAST(N'2021-01-08T18:36:24.063' AS DateTime), N'admin', CAST(N'2021-01-08T18:36:24.063' AS DateTime), 1)
INSERT [dbo].[H001_Departamento] ([CodDepartamento], [Departamento], [CodUsuCreaRegistro], [FechaCreaRegistro], [CodUsuModificaRegistro], [FechaModificaRegistro], [EstadoRegistro]) VALUES (N'02', N'Ancash', N'admin', CAST(N'2021-01-08T18:36:24.063' AS DateTime), N'admin', CAST(N'2021-01-08T18:36:24.063' AS DateTime), 1)
INSERT [dbo].[H001_Departamento] ([CodDepartamento], [Departamento], [CodUsuCreaRegistro], [FechaCreaRegistro], [CodUsuModificaRegistro], [FechaModificaRegistro], [EstadoRegistro]) VALUES (N'03', N'Apurimac', N'admin', CAST(N'2021-01-08T18:36:24.063' AS DateTime), N'admin', CAST(N'2021-01-08T18:36:24.063' AS DateTime), 1)
GO
INSERT [dbo].[H001_Provincia] ([CodDepartamento], [CodProvincia], [Provincia], [CodUsuCreaRegistro], [FechaCreaRegistro], [CodUsuModificaRegistro], [FechaModificaRegistro], [EstadoRegistro]) VALUES (N'01', N'01', N'Chachapoyas', N'admin', CAST(N'2021-01-08T18:54:25.613' AS DateTime), N'admin', CAST(N'2021-01-08T18:54:25.613' AS DateTime), 1)
INSERT [dbo].[H001_Provincia] ([CodDepartamento], [CodProvincia], [Provincia], [CodUsuCreaRegistro], [FechaCreaRegistro], [CodUsuModificaRegistro], [FechaModificaRegistro], [EstadoRegistro]) VALUES (N'01', N'02', N'Bagua', N'admin', CAST(N'2021-01-08T18:54:25.613' AS DateTime), N'admin', CAST(N'2021-01-08T18:54:25.613' AS DateTime), 1)
INSERT [dbo].[H001_Provincia] ([CodDepartamento], [CodProvincia], [Provincia], [CodUsuCreaRegistro], [FechaCreaRegistro], [CodUsuModificaRegistro], [FechaModificaRegistro], [EstadoRegistro]) VALUES (N'01', N'03', N'Bongara', N'admin', CAST(N'2021-01-08T18:54:25.613' AS DateTime), N'admin', CAST(N'2021-01-08T18:54:25.613' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[H001_TipoDocumento] ON 

INSERT [dbo].[H001_TipoDocumento] ([IdTipoDocumento], [TipoDocumento], [Abreviatura], [MaxNumDigito], [CodUsuCreaRegistro], [FechaCreaRegistro], [CodUsuModificaRegistro], [FechaModificaRegistro], [EstadoRegistro]) VALUES (1, N'Documento Nacional de Identidad', N'DNI       ', 8, N'admin', CAST(N'2021-01-08T00:00:00.000' AS DateTime), N'admin', CAST(N'2021-01-07T21:43:19.660' AS DateTime), 1)
INSERT [dbo].[H001_TipoDocumento] ([IdTipoDocumento], [TipoDocumento], [Abreviatura], [MaxNumDigito], [CodUsuCreaRegistro], [FechaCreaRegistro], [CodUsuModificaRegistro], [FechaModificaRegistro], [EstadoRegistro]) VALUES (2, N'Carnet de Extranjeria', N'CE        ', 12, N'admin', CAST(N'2021-01-08T00:00:00.000' AS DateTime), N'admin', CAST(N'2021-01-07T21:43:19.660' AS DateTime), 1)
INSERT [dbo].[H001_TipoDocumento] ([IdTipoDocumento], [TipoDocumento], [Abreviatura], [MaxNumDigito], [CodUsuCreaRegistro], [FechaCreaRegistro], [CodUsuModificaRegistro], [FechaModificaRegistro], [EstadoRegistro]) VALUES (3, N'Pasaporte', N'PAS       ', 12, N'admin', CAST(N'2021-01-08T00:00:00.000' AS DateTime), N'admin', CAST(N'2021-01-07T21:43:19.660' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[H001_TipoDocumento] OFF
GO
INSERT [dbo].[H001_Ubigeo] ([CodUbigeo], [CodDepartamento], [CodProvincia], [Distrito], [CodUsuCreaRegistro], [FechaCreaRegistro], [CodUsuModificaRegistro], [FechaModificaRegistro], [EstadoRegistro]) VALUES (N'010101', N'01', N'01', N'Chachapoyas', N'admin', CAST(N'2021-01-08T19:14:33.450' AS DateTime), N'admin', CAST(N'2021-01-08T19:14:33.450' AS DateTime), 1)
INSERT [dbo].[H001_Ubigeo] ([CodUbigeo], [CodDepartamento], [CodProvincia], [Distrito], [CodUsuCreaRegistro], [FechaCreaRegistro], [CodUsuModificaRegistro], [FechaModificaRegistro], [EstadoRegistro]) VALUES (N'010102', N'01', N'01', N'Asuncion', N'admin', CAST(N'2021-01-08T19:14:33.450' AS DateTime), N'admin', CAST(N'2021-01-08T19:14:33.450' AS DateTime), 1)
INSERT [dbo].[H001_Ubigeo] ([CodUbigeo], [CodDepartamento], [CodProvincia], [Distrito], [CodUsuCreaRegistro], [FechaCreaRegistro], [CodUsuModificaRegistro], [FechaModificaRegistro], [EstadoRegistro]) VALUES (N'010103', N'01', N'01', N'Balsas', N'admin', CAST(N'2021-01-08T19:14:33.450' AS DateTime), N'admin', CAST(N'2021-01-08T19:14:33.450' AS DateTime), 1)
GO
ALTER TABLE [dbo].[H001_Persona]  WITH CHECK ADD  CONSTRAINT [FK_H001_Persona_H001_TipoDocumento] FOREIGN KEY([IdTipoDocumento])
REFERENCES [dbo].[H001_TipoDocumento] ([IdTipoDocumento])
GO
ALTER TABLE [dbo].[H001_Persona] CHECK CONSTRAINT [FK_H001_Persona_H001_TipoDocumento]
GO
ALTER TABLE [dbo].[H001_Persona]  WITH CHECK ADD  CONSTRAINT [FK_H001_Persona_H001_Ubigeo] FOREIGN KEY([CodUbigeoNacimiento])
REFERENCES [dbo].[H001_Ubigeo] ([CodUbigeo])
GO
ALTER TABLE [dbo].[H001_Persona] CHECK CONSTRAINT [FK_H001_Persona_H001_Ubigeo]
GO
ALTER TABLE [dbo].[H001_Provincia]  WITH CHECK ADD  CONSTRAINT [FK_H001_Provincia_H001_Departamento] FOREIGN KEY([CodDepartamento])
REFERENCES [dbo].[H001_Departamento] ([CodDepartamento])
GO
ALTER TABLE [dbo].[H001_Provincia] CHECK CONSTRAINT [FK_H001_Provincia_H001_Departamento]
GO
ALTER TABLE [dbo].[H001_Ubigeo]  WITH CHECK ADD  CONSTRAINT [FK_H001_Ubigeo_H001_Departamento] FOREIGN KEY([CodDepartamento])
REFERENCES [dbo].[H001_Departamento] ([CodDepartamento])
GO
ALTER TABLE [dbo].[H001_Ubigeo] CHECK CONSTRAINT [FK_H001_Ubigeo_H001_Departamento]